streamlit>=1.44
spacy>=3.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
xgboost>=3.0
scikit-learn>=1.6
pandas>=2.2
numpy>=2.0,<3.0
python-docx>=1.1
pdfplumber>=0.11
pdfminer.six>=20240706
pypdf>=5.4
joblib>=1.5
dateparser>=1.4
matplotlib>=3.10
Pillow>=11.1
pydantic>=2.10
pytesseract>=0.3.13
easyocr>=1.7
pypdfium2>=5.0
